.cadastroCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    .fromCadastroCategoria {

        p {
            font-size: 16px;
            margin-top: 20px;
            opacity: 60%;
        }

        .tittleCadastro {
            display: flex;
            align-items: center;
            gap: 20px;

            h2 {
                font-size: 30px;
                font-weight: 450;
            }

        }

        .nomeCategoria {
            margin-top: 40px;

            h3 {
                font-size: 19px;
                font-weight: 500;
            }

            input {
                margin-top: 30px;
                width: 450px;
                padding: 17px;
                border-radius: 10px;
                border: none;
                outline: none;
                background-color: #F0F2F5;


                &::placeholder {
                    font-size: 16px;
                    opacity: 80%;
                    color: black;
                }
            }

        }

        .descricao {
            margin-top: 40px;

            h3 {
                font-size: 19px;
                font-weight: 500;
            }

            textarea {
                display: block;
                padding: 12px;
                padding-bottom: 150px;
                padding-left: 15px;
                margin-top: 30px;
                width: 450px;
                height: 200px;
                border-radius: 10px;
                border: none;
                outline: none;
                background-color: #F0F2F5;
                resize: none; 

                &::placeholder {

                    font-size: 16px;
                    opacity: 80%;
                    color: black;
                }
            }

        }

    }

    .botoes {
        display: flex;
        margin-top: 50px;
        gap: 50px;

        .cancelar {

            button {
                position: relative;
                cursor: pointer;
                background-color: #F0F2F5;
                color: black;
                border-radius: 8px;
                border: none;
                width: 200px;
                padding: 12px;
                font-size: 17px;
                font-weight: 450;
                overflow: hidden;
                z-index: 0;
                transition: color 0.3s ease;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: #D0D3D8;
                    z-index: -1;
                    transition: width 0.3s ease;
                }

                &:hover::before {
                    width: 100%;
                }

                &:hover {
                    color: black;
                }
            }
        }


        .cadastrar {

            button {
                position: relative;
                cursor: pointer;
                background-color: #0C1B30;
                color: white;
                border-radius: 8px;
                border: none;
                width: 200px;
                padding: 12px;
                font-size: 17px;
                font-weight: 450;
                overflow: hidden;
                z-index: 0;
                transition: color 0.3s ease;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: #3b4553;
                    z-index: -1;
                    transition: width 0.3s ease;
                }

                &:hover::before {
                    width: 100%;
                }

                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }

}